.admin-page{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-page h1{
    margin-bottom: 20xp;
    font-size: 35px;
}
.admin-page button{
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: #FADADD;
    width: 35%;
    color: rgb(72, 72, 72);
}
.admin-page button:hover{
    background-color: #b1a292;
}