.footer{
    border: 0;
    width: 100%;
    background-color: #FFF8F0;
    color: #2b253f;
    text-align: center;
    padding: 20px 0;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-links a {
    text-decoration: none;
    color: #2b253f;
    font-weight: bold;
    margin: 0 15px;
}
.footer-info p {
    color: #2b253f;
    margin: 0 0;
}