body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b48894;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 100;
}

.navbar-brand img {
    height: 53px;
}

.navbar-search input {
    padding: 10px;
    width: 500px;
    border: none;
    border-radius: 3px;
}

.navbar-search button {
    padding: 10px;
    border: none;
    margin-left: 2px;
    background-color: #FADADD;
    color: #2b253f;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.navbar-link a,
li {
    text-decoration: none;
    color: #2b253f;
    margin: 0 10px;
    font-weight: bold;
    list-style: none;
}