.product-detail{
    max-width: 350px;
    margin: 2rem auto 5rem auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-detail img{
    width: 300px;
    height: auto;
}

.product-detail h2{
    text-align: center;
}
.product-detail span{
    display: block;
    font-size: 20px;
    color: #b48894;
}
.product-detail button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FADADD;
    color: #2b253f;
    font-size: 16px;
    cursor: pointer;
}
.product-detail button:hover{
    background-color: #b1a292;
}