.register-page{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.register-page h2{
    text-align: center;
    margin-bottom: 20px;
}
.register-page form{
    display: flex;
    flex-direction: column;
}

.register-page label{
    margin-bottom: 5px;
}

.register-page input{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.register-page button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FADADD;
    color: #2b253f;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.register-page button:hover{
    background-color: #b1a292;
}
.message{
    text-align: center;
    color: green;
}
.register-link{
    margin-top: 20px;
    font-size: 14px;
}
.register-link a{
    text-decoration: none;
    color: #b48894;
}